* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    height: 70px;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    list-style: none;
}

.menu-item>li>a {
    font-size: 18px;
    padding: 10px;
    color: white;
    text-decoration: none;

}

.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url('/images/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-tittle {
    font-size: 85px;
    font-weight: bold;
    color: white;
}

.red-text {
    color: red;
}

.banner-description {
    margin: 0 20%;
    font-size: 20px;
    padding: 15px 0;
    color: white;
}

.btn {
    background-color: red;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-hire {
    background-color: white;
    color: black;
}

.services-container {
    margin: 80px 7%;
    display: flex;

}

.service-box {
    display: flex;
}

.service-logo {
    width: 100px;
}

.service {
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.title-service {
    font-size: 35px;
}

.description-service {

    padding: 20px 0;
    font-size: 20px;
}

.service-list {
    font-size: 20px;
    list-style: decimal;
    padding: 20px;
}
.author-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-details{
    height: 40px;
    align-items: center;
}