* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    height: 70px;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    list-style: none;
}

.menu-item>li>a {
    font-size: 18px;
    padding: 10px;
    color: white;
    text-decoration: none;

}

.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url('/images/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-tittle {
    font-size: 85px;
    font-weight: bold;
    color: white;
}

.red-text {
    color: red;
}

.banner-description {
    margin: 0 20%;
    font-size: 20px;
    padding: 15px 0;
    color: white;
}

.btn {
    background-color: red;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-hire {
    background-color: white;
    color: black;
}
.service-section{
background-color: black;
padding-bottom: 90px;
}

.service-tittle{
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.services-container {
    margin: 80px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.service-box {
    display: flex;
}

.service-logo {
    width: 100px;
}

.service {
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.title-service {
    margin-top: 20px;
    font-size: 35px;
    color: white;
}

.description-service {

    padding: 20px 0;
    font-size: 20px;
    color: white;
}

.service-list {
    font-size: 20px;
    list-style: decimal;
    padding: 20px;
    color: white;
}
.author-container{
    display: flex;
    align-items: center;
}
.author-container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.more-details{
    height: 60px;
    align-items: center;
    margin: 0px 80px;
    border-left: 10px solid red;
}
.author-details img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 50px;
}
.author-details{
    padding-right: 80px;
    border-right: 5px solid red;
}
.appointment-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: red;
    margin: auto;
    margin-top: -120px;
    padding: 15px;
    border-radius: 20px;
}
.contact-number{
    padding: 20px 0;
    display: block;
    align-items: center;
}
.call-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.call-icon{
    width: 130px;
    padding: 0 20px;
}
.contact-number > h4{
    color: white;
}
.description-box{
    width: 50%;
    padding: 20px 20px;
    font-size: 18px;
    color: white;
}
.appoint-btn{
    background-color: white;
    color:black;
    border-radius: 10px;
}
.contact-number > h1{
    color: white;
    font-size: 45px;
}
